h1{
  color: cyan;
  text-align: center;
  background-color: purple;
  font-style: italic;
  font-size: 100%
}
p{
  font-family: georgia,sans serif;
  font size: 75%
  
}
ul{
  line-height: 40px;
  color: turquoise
}
p{
  font-family: georgia,sans serif; 
  font size: 75%
}